### Exercise 1
In your file create a variable called my_name with your name as the value. Put your name inside string quotes, e.g., "my name". Then add a line of code to print the variable name.
Save your file file in your editor and run the cell. You should see your name printed. If not, investigate and fix it.

In [2]:
my_name = "Michal"
print(f"My name is {my_name}.")

My name is Michal.

### Exercise 2
Create a variable called age with a number that is your age. Do not use string quotes for numbers.

Add a line to print that variable. Save the file and run the cell. You should see your age.

In [17]:
age = 33
print(f"I'm {age} years old.")

I'm 33 years old.

### Exercise 3
Create a variable called julia_age with a value 32. Create another variable called age_diff and set it to an expression that calculates your age minus Julias's age. Print the value of age_diff. Save the file and run the cell. You should see your age and the age difference. If you are younger than Julia, you should see a negative number.

In [5]:
julia_age = 32
age_diff = age - julia_age
print(f"The age difference between me an Julia is {age_diff}.")

The age difference between me an Julia is -3.

### Exercise 4
Write a conditional that compares the variable holding your age with the number 21. It should print either "You are older than 21" or "You are not older than 21", appropriately, depending on your age. Save your file and run the cell. Make sure you see the correct message. Try changing your age in the file to make sure the other message prints when it should.

In [13]:
if age > 21:
    print("You are older than 21")
else:
    print("You are not older than 21")

You are not older than 21

### Exercise 5
Write a conditional that compares your age with Julia's age. This conditional will need to test if you are older, younger, or the same age, and print, appropriately, either "Julia is older than you", Julia is younger than you", or "You have the same age as Julia".

In [18]:
if age > julia_age:
    print("Julia is younger than you")
elif age < julia_age:
    print("Julia is older than you")
else:
    print("You have the same age as Julia")

Julia is younger than you

### Exercise 6
Create a list with all the names of your class (including mentors). Sort the list alphabetically. Then print the first element of the list. On the next line, print the last element of the list. On the next line, print all the elements of the list (use a "for" loop). Save the file and run the cell. You should see the first element of the sorted list, the last element of the sorted list, and all the elements in order in the list.

In [21]:
names = ['Michal', 'Bilel', 'Daria', 'Rupinder', 'Zsuzsa', 'Barry', 'Arjun', 'Killian', 'Muayad', 'Jost', 'Raul', 'Lucas']
names.sort()
print(f"first element of the list: {names[0]}")
print(f"last element of the list: {names[-1]}")

print("all the elements in order in the list:")
for name in names:
    print(name)

first element of the list: Arjun
last element of the list: Zsuzsa
all the elements in order in the list:
Arjun
Barry
Bilel
Daria
Jost
Killian
Lucas
Michal
Muayad
Raul
Rupinder
Zsuzsa

### Exercise 7
Create a list with all the ages of the students in your class. Iterate through the list using a for loop, and then print every age. Add a conditional inside the loop to only print even numbers. Save your changes and run the cell. You should see every age printed, then only the even numbers printed. If not, investigate and fix it. Then do the same using a while loop.

In [25]:
ages = [29, 26, 23, 36, 35, 31, 37, 37, 36, 33, 34, 35]

for age in ages:
    if (age % 2) == 0:
        print(age)

26
36
36
34

### Exercise 8
Write a list containing numbers and print the lowest number.

In [35]:
ages = [29, 26, 23, 36, 35, 31, 37, 37, 36, 33, 34, 35]

In [29]:
# the quickest way
print(min(ages))

23

In [34]:
# with using of sort
ages.sort()
print(ages[0])

23

In [36]:
# using a for loop
lowest = 1000000
for age in ages:
    if age < lowest:
        lowest = age

print(lowest)

23

### Exercise 9
Write a list containing numbers and print the highest number.

In [40]:
ages = [29, 26, 23, 36, 35, 31, 37, 37, 36, 33, 34, 35]

In [38]:
# the quickest way
print(max(ages))

37

In [39]:
# with using of sort
ages.sort()
print(ages[-1])

37

In [41]:
# using a for loop
highest = -1000000
for age in ages:
    if age > highest:
        highest = age

print(highest)

37

### Exercise 10
Given below is a list of 10 customers with year of birth, however, the list can be as large as several thousands of customers.

In [43]:
customer_age = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]

for age in customer_age:
    print(age)

1999
1995
2005
2010
2007
2006
1994
1996
1979
2008

### Exercise 11
Given below is a list of 10 customers with name and year of birth, however, the list can be as large as several thousands of customers.

Use a loop to iterate over the list and print the name and age of each customer.
Afterwards, for each customer try to print the sentence "customer_name is customer_age years old".
customer_name and customer_age should correspond to each customer's name and age.

In [4]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]

In [6]:
# solution with different quotation marks, to not break the f-string.
for customer in customer_list:
    print(f"{customer['name']} is {2023 - customer['age']} years old.")

Bob is 24 years old.
Jack is 28 years old.
Lisa is 18 years old.
Maria is 13 years old.
Ben is 16 years old.
Emma is 17 years old.
Oscar is 29 years old.
Amy is 27 years old.
Paul is 44 years old.
Etta is 15 years old.

In [8]:
# solution with additional variables
for customer in customer_list:
    customer_name = customer["name"]
    customer_age = 2023 - customer["age"]
    print(f"{customer_name} is {customer_age} years old.")

Bob is 24 years old.
Jack is 28 years old.
Lisa is 18 years old.
Maria is 13 years old.
Ben is 16 years old.
Emma is 17 years old.
Oscar is 29 years old.
Amy is 27 years old.
Paul is 44 years old.
Etta is 15 years old.

### Exercise 12
Given a list of ages, remove the youngest and the oldest person.

For this exercise try not to use the max() and min() methods.

In [53]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

In [54]:
ages.sort()
ages = ages[1:-1]
print(ages)

[11, 12, 13, 14, 20, 23, 24, 25]

### Exercise 13
You have two lists with ages of customers from different cities.

The task is to create an other list with the common ages.

In [55]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

In [58]:
# pythonic solution
common_ages = []

for age in berlin:
    if age in munich:
        common_ages.append(age)

print(common_ages)

[15, 13, 16, 18, 19, 10]

In [65]:
# pythonic short
common_ages = [age for age in berlin if age in munich]
print(common_ages)

[15, 13, 16, 18, 19, 10]

In [69]:
# using sets
berlin_set = set(berlin)
munich_set = set(munich)
print(berlin_set & munich_set) # could also be written as berlin_set.intersection(munich_set)

{10, 13, 15, 16, 18, 19}

In [63]:
# using nested for loops
common_ages = []

for b_age in berlin:
    for m_age in munich:
        if b_age == m_age:
            common_ages.append(b_age)
    

print(common_ages)

[15, 13, 16, 18, 19, 10]

### Exercise 14
You have a list with ages.

Remove the duplicates.

In [70]:
ages = [15,13,16,18,19,15,10]

In [71]:
# using for loop
unique = []
for age in ages:
    if age not in unique:
        unique.append(age)

print(unique)

[15, 13, 16, 18, 19, 10]

In [98]:
# using set
unique = set(ages)
unique = list(unique)
print(unique)

[16, 18, 19, 10, 13, 15]

### Exercise 15
Write a function that works like below:

Function name: welcome

welcome('Evelyn') would print- 'Welcome Evelyn, have a nice day!'

welcome('Jost'), it would print - 'Welcome Jost, have a nice day!'

In [73]:
def welcome(name):
    print(f'Welcome {name}, have a nice day!')

In [75]:
welcome('Evelyn')
welcome('Jost')

Welcome Evelyn, have a nice day!
Welcome Jost, have a nice day!

### Exercise 16
Write a function that takes a string as input and calculates the length.

Function name: get_length

get_length('Hello') would print / return 5.

get_length('Hi') would print / return 2.

In [83]:
def get_length(string):
    print(len(string))

In [85]:
get_length('Hello')
get_length('Hi')

5
2

### Exercise 17
Write a function which checks whether a number is even.

Hint: Think about the modulus operator

Function name: check_even

check_even(6) would print / return 'Yes'

check_even(5) would print / return 'No'

In [86]:
def check_even(num):
    if (num % 2) == 0:
        print('Yes')
    else:
        print('No')

In [88]:
check_even(6)
check_even(5)

Yes
No

### Exercise 18
Rewrite exercises 11, 12, 13, 14, 15 in a function.

# There ia a typo in Exercise 18. Exercise 15 is already a function.

In [24]:
# Exercise 11
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]

In [25]:
# Exercise 11
def print_customer_data(x):
    for customer in x:
        name = customer['name']
        age = 2023 - customer['age']
        print(f"{name} is {age} years old.")

print_customer_data(customer_list)

Bob is 24 years old.
Jack is 28 years old.
Lisa is 18 years old.
Maria is 13 years old.
Ben is 16 years old.
Emma is 17 years old.
Oscar is 29 years old.
Amy is 27 years old.
Paul is 44 years old.
Etta is 15 years old.

In [26]:
# Exercise 11 with additional variable
def print_customer_data(x, year):
    for customer in x:
        print(f"{customer['name']} is {year - customer['age']} years old.")

print_customer_data(customer_list, 2023)

Bob is 24 years old.
Jack is 28 years old.
Lisa is 18 years old.
Maria is 13 years old.
Ben is 16 years old.
Emma is 17 years old.
Oscar is 29 years old.
Amy is 27 years old.
Paul is 44 years old.
Etta is 15 years old.

In [91]:
# Exercise 12
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

def remove_min_and_max(ages):
    ages.sort()
    ages = ages[1:-1]
    return ages

ages = remove_min_and_max(ages)
print(ages)

[11, 12, 13, 14, 20, 23, 24, 25]

In [95]:
# Exercise 13
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

def common_ages(a, b):
    common = [age for age in a if age in b]
    return common

common = common_ages(berlin, munich)
print(common)

[15, 13, 16, 18, 19, 10]

In [96]:
# Exercise 14
ages = [15,13,16,18,19,15,10]

def remove_duplicates(l):
    return set(l)

ages = remove_duplicates(ages)
print(ages)

{10, 13, 15, 16, 18, 19}

### Exercise 19
Write a function that takes an input list and value of age to find as input and return true or false if the age value is present or not in the list.

In [101]:
age_1 = 13
age_2 = 55
ages = [15,13,16,18,19,15,10]

def age_in_list(age, ages):
    return age in ages

print(age_in_list(age_1, ages))
print(age_in_list(age_2, ages))

True
False